{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Main page content area }}

<main class="content">
  <section class="services">
    <article>
      <!-- stuff -->
      <h4><i class="ocm_development"></i>development</h4>
      <div>
        With nearly 20 years of experience in software and web application development, we have knowledge in a wide
        range of languages and environments. From Linux to Windows, Java to .NET, PHP to NodeJS, and Drupal to
        WordPress, we can find the right tool for every clients business needs.
      </div>
    </article>
    <article>
      <!-- stuff -->
      <h4><i class="ocm_design"></i>design</h4>
      <div>
        We review and begin communicating with you to make sure that all parties are on the same page.  We look at
        the goals of the project and then, through consideration of what has been requested, pick the tools that make
        the most sense.  Finally we prototype the product to make adjusments to design and integration prior to
        entering into full development of the project.
      </div>
    </article>
    <article>
      <!-- stuff -->
      <h4><a href="/portfolio-photography/" title="Featured Photos"><i class="ocm_photo"></i>photography</a></h4>
      <div>
        What is the story you are trying to tell? Is your event breaking new ground and you want to document its growth?
        When it comes to photography, and videography the experience becomes pretty personal. The right photog wants to
        understand the people they are shooting to provide an honest moment. Leading through the story of the day, event
        or moment is what we are looking to tell.<br/><a href="http://ocm.photos/featured.html" title="Featured Photos">You can find more @ ocm.photos</a>
      </div>
    </article>
  </section>
</main>
